# Import

In [1]:
# Basics
import numpy as np
import pandas as pd
import re
import requests
from pprint import pprint

# Specialized
import unicodedata
import json
from time import strftime
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer

# Custom
import acquire
import prepare

# Exercise
**Take the work we did in the lessons further:**

   - What other types of models (i.e. different classifcation algorithms) could you use?
   - How do the models compare when trained on term frequency data alone, instead of TF-IDF values?

In [2]:
from env import user, password, host

def get_db_url(database, host=host, user=user, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'


url = get_db_url("spam_db")
sql = "SELECT * FROM spam"

df = pd.read_sql(sql, url, index_col="id")
df.head()

   label                                               text
id
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...