# Imports

In [1]:
import pandas as pd
import numpy as np
import re

## Question 1
**Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.**

In [27]:
def is_vowel(x):
    return bool(re.search(r'^[aeiouAEIOU]$', x))

In [29]:


is_vowel('autumn'), is_vowel('summer'), is_vowel('E'), is_vowel('a')

(False, False, True, True)

## Question 2
**Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.**

In [30]:
# 32 charatcters
# only lowercase
# numbers or _

In [31]:
def is_valid_username(x):
    regex = r'^[a-z][a-z0-9_]{,31}$'
    return bool(re.search(regex, x))

## Question 3
**Write a regular expression to capture phone numbers. It should match all of the following:**
- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

In [32]:
re.search(r"\d{7}", "8675309")

In [34]:
re.search(r"\d{3}-\d{4}", "867-5309")

In [37]:
list = ['(210) 867 5309', '+1 210.867.5309', '867-5309', '210-867-5309']

for x in list:
    print(re.search(r"(\+?\d+)?.?(\(?\d{3}\)?)?.?\d{3}.?\d{4}", x))

<re.Match object; span=(0, 14), match='(210) 867 5309'>
<re.Match object; span=(0, 15), match='+1 210.867.5309'>
<re.Match object; span=(0, 8), match='867-5309'>
<re.Match object; span=(0, 12), match='210-867-5309'>

## Question 4
**Use regular expressions to convert the dates below to the standardized year-month-day format.**
- 02/04/19
- 02/05/19
- 02/06/19
- 02/07/19
- 02/08/19
- 02/09/19
- 02/10/19

In [38]:
dates = [
    "02/04/19",
    "02/05/19",
    "02/06/19",
    "02/07/19",
    "02/08/19",
    "02/09/19",
    "02/10/19"
]

df = pd.DataFrame({"original": dates})
df

   original
0  02/04/19
1  02/05/19
2  02/06/19
3  02/07/19
4  02/08/19
5  02/09/19
6  02/10/19

In [40]:
pattern = re.compile(r"""
(?P<month>\d{2})/
(?P<day>\d{2})/
(?P<year>\d{2})
""", re.VERBOSE)

In [41]:
df = pd.concat([df, df.original.str.extract(pattern)], axis=1)
df

   original month day year
0  02/04/19    02  04   19
1  02/05/19    02  05   19
2  02/06/19    02  06   19
3  02/07/19    02  07   19
4  02/08/19    02  08   19
5  02/09/19    02  09   19
6  02/10/19    02  10   19

In [43]:
df["new_format"] = df.year + "/" + df.month + "/" + df.day 
df

   original month day year new_format
0  02/04/19    02  04   19   19/02/04
1  02/05/19    02  05   19   19/02/05
2  02/06/19    02  06   19   19/02/06
3  02/07/19    02  07   19   19/02/07
4  02/08/19    02  08   19   19/02/08
5  02/09/19    02  09   19   19/02/09
6  02/10/19    02  10   19   19/02/10

## Question 5
**Write a regex to extract the various parts of these logfile lines:**
- GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
- POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
- GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [45]:
logfile_re = r'''
^(?P<method>GET|POST)
\s+
(?P<path>.*?)
\s+
\[(?P<timestamp>.*?)\]
\s+
(?P<http_version>.*?)
\s+
\{(?P<status>\d+)\}
\s+
(?P<bytes_sent>\d+)
\s+
"(?P<user_agent>.*)$
'''

lines = pd.Series([
    'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
    'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
    'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58',
])
lines.str.extract(logfile_re, re.VERBOSE)

,method,path,timestamp,http_version,status,bytes_sent,user_agent
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,"python-requests/2.21.0"" 97.105.19.58"
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,"python-requests/2.21.0"" 97.105.19.58"